@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

.title {
    width: min-content;
    font-family: Rubik;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 10px;
    background-color: rgb(96, 96, 96);
    padding: 1% 5%;
}

h1 {
    margin-inline: 5px;
    margin-top: 5% 5% ;
    
}